/*NAVIGATION - ALL PAGES*/

.topnav {
    position: relative;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;

}
.topnav a:hover {
    text-decoration: underline;
    color: black;
}
.topnav a.split {
    float: right;
}
.promotion {
  background-color: coral;
  color: white;
  padding: 5px;
  margin-top: 30px;
}
.promotion p {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: larger;
}
.promotion span {
  font-weight: bolder;
}

/*END OF NAVIGATION*/

/*LOGO - ALL PAGES*/
.mainLogo {
  margin-top: 20px; 
  margin-left: 20px;  
  margin-bottom: 20px;
   display: flex;
    height: 100px;
    width: 150px;
    float: left;
}
/*END OF LOGO*/

/*FOOTER - ALL PAGES*/
/*footer {
  position:sticky;
  bottom:0;
  width: 100%;
  background-color: coral;
  color: white;
  text-align: center;
  padding: 5px;
}
footer .row {
height: 100px;
margin-top: 20px;
margin-bottom: 20px;
}
footer h3 {
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}
.download {
  max-width: 250px;
  padding-top: 17px;
}
.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style-type: none;
  padding: 0;

  @media screen and (max-width: $xs-tablet) {
    margin-bottom: 0;
  }
}
.social-list img {
  padding: 5px;
}
footer p {
  font-size: 13px;
}*/
/*END OF FOOTER*/

/*HOME PAGE*/
.menu {
  text-align: center;
}

.menu h2 {
  margin-bottom: 20px;
  margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.menu a {
color: coral;
font-weight: bolder;
text-decoration: none;
margin-bottom: 20px;

}

.menu .menu-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 20px;

}
.menu-img a {
  height: 10px;
  margin-bottom: 20px;
}
.menu-img a:hover {
  height: 10px;
  opacity: 50%;
}
.mission {
  margin-top:20px;
  padding-bottom: 40px;
  padding-top: 15px;
  text-align: center;
}
.mission h1 {
  margin: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.mission p {
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-weight: 400px;
  font-size: 18px;
}
.newStuff .comingSoon {
  max-height: 60px;
  margin-left: 60px;
  margin-top: 40px;
}

.announcement {
  font-family: 'Raleway', sans-serif;
  max-width: 25%;
  line-height: 35px;
  font-weight: 450;
  text-align: center;
  padding: 25px;
  font-size: 17px;
}
.fruitJuice {
  background-color: white;
  border-style: solid;
  border-color: coral;
}
.fruitJuice img {
  max-height: 400px;
}
.fruitJuice img:hover {
  opacity: 75%;
}
.newMenu {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 60px 60px 60px;
  margin-left: 50px;
  margin-right: 50px;
}
.newMenu li {
  list-style: none;
}
.newMenu h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 12px;
}
.wellnessShots {
  border-style: solid;
  border-color: coral;
}
.wellnessShots img {
  max-height: 400px;
}
.wellnessShots img:hover {
  opacity: 75%;
}
.flavors li {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  list-style: disc;
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
}
/*END OF HOME PAGE*/

/*SHOP PAGE*/
header h1 {
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
}
header h2 {
    font-family: 'Raleway', sans-serif;
}

.content {
    margin: 50px;
}
.wrapper {
  display: inline;
  justify-content: space-evenly;
  flex-wrap: wrap;
    height: 420px;
    width: 654px;
  }
  .greenJuice .wrapper {
    justify-content: space-evenly;
  }
.content h2 {
  font-family: 'Raleway', sans-serif;
}
  .cucumberCelery {
    float: left;
    margin: 20px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS*/
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  .spinachGinger {
    float: right;
    margin:20px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS*/
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  .strawberryKiwi {
    float: left;
    margin: 30px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  .mangoGinger {
    float: right;
    margin: 20px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  .caribbeanPassion {
    float: left;
    margin: 20px;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  .pineappleTwist {
    float: right;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS*/ 
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  }
  .product-img {
    float: left;
    height: 420px;
    width: 327px;
  }
  
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-info {
    float:right;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
  }
  
  .product-text {
    height: 180px;
    width: 327px;
  }
  
  .product-text h2,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 125px;
    margin-left: 38px;
    margin-right: 30px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow:visible;
    text-transform: capitalize;
  }
  */
  .product-price-btn {
    height: 103px;
    width: 327px;
  }
  
  .product-price-btn button {
    height: 50px;
    width: 150px;
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: coral;
    cursor: pointer;
  }
  
  .product-price-btn button:hover {
    background-color: black;
  }
  .product-size {
    display: block;
    justify-content:space-evenly;
  }
  .product-size button {
    height: 45px;
    width: 45px;
    margin-left: 38px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight:bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: black;
    border-style: solid;
    border-color: coral;
    background-color: white;
  }
  .buttonLabel {
    font-weight: bold;
  }
  .product-size button:hover {
  background-color: black;
  border-color: black;
  color: white;
  }
  
/*END OF SHOP PAGE*/

/*LOGIN FORM*/ 
   .existingAcc, .newAccount {
    margin-left: 500px;
    margin-right:500px;
    resize: none;
    justify-content: center;
    box-sizing: border-box;
  }
  .login {
   text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    margin-bottom: 45px;
    margin-top: 50px;
    text-transform: uppercase;
    padding: 15px;
  }
.existing {
  text-align: center;
  font-weight: 900;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 12px;
}
.new {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 12px;
}
/*END OF LOGIN FORM*/

/*REGISTRATION FORM*/
.registration {
  text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    margin-bottom: 45px;
    margin-top: 50px;
    text-transform: uppercase;
}
form .newAccount {
float: left;
}
.radio {
  text-align: left;
}
/*END OF REGISTRATION*/

/*CART PAGE*/
.checkout-btn {
  height: 103px;
  width: 327px;
}

.checkout-btn button {
  height: 50px;
  width: 300px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-top: 15px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: coral;
  cursor: pointer;
}

.product-price-btn button:hover {
  background-color: black;
}
.cart {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.container {
    font-family: 'Raleway', sans-serif;

}
/*.cartLayout {
  margin: 50px;
height: 100%;
padding-top: 5px;
}
.cartItem {
display: inline;
justify-content: space-around;
flex-wrap: wrap;
justify-content: left;
}
.cartImage {
  margin: 47px 38px;
}

.cartImage img {
  float: left;
  border-radius: 7px 0 0 7px;
  height: 100px;
  width: 130px;
}
.cartInfo {
  margin: 47px 38px;
  height: 100px;
  width: 50%;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}
.itemTitle {
  margin-top: 5px;
  height: 50px;
}
.itemTitle h2 {
  margin: 47px 38px;
  font-size: 13px;
  padding-top: 20px;
  padding-left: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.2em;
}
.cartProduct-size {
  display: block;
  justify-content:space-evenly;
}
.cartProduct-size button {
  height: 45px;
  width: 45px;
  margin-left: 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight:bolder;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
  background-color: coral;
}
.checkout h3 {
  display: flex;
  justify-content: right;
  margin-right: 30px;
  font-family: 'Raleway', sans-serif;
}
.checkout p {
  font-family: 'Raleway', sans-serif;
display: flex;
justify-content: right;
margin-right: 30px;
}
.product-price-btn {
  height: 103px;
  width: 327px;
}

.checkout-btn button {
  height: 50px;
  width: 260px;
  float: right;
  box-sizing: border-box;
  margin: 0px 30px 50px 0px;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: coral;
  cursor: pointer;
}

.checkout-btn button:hover {
  background-color: black;
}
*
/*END OF CART PAGE*/